<template>
  <section class="home">
    <h1>Home</h1>
  </section>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'Home',
  
}
</script>

<style>
body{
  margin: 0;
}
.home{
  margin: 0;
  padding: 0;
  font-size: 60%;
}
</style>
