<template>
    <footer>
        <h4>GRUPO 4</h4>
    </footer>

</template>

<script>
export default {
    name: "AppFooter"
  
}
</script>

<style scoped>

footer{

    background-color: aqua;
    height: 5vh;
    font-family: fantasy;
}

h4{
    color: azure;
    text-align:center;
    

}

</style>
